.conteiner {
  width: 854px;
  height: 270px;

  border-radius: 16px;
  margin-bottom: 100px;
  background-color: #383838;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;

  padding: 40px;
  position: absolute;
}

.head {
  color: #ffffff;

  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
}

.p-tag {
  color: white;
  font-size: 16px;
}

.second-tag {
  color: white;
}
