.button-container {
  display: flex;
  gap: 20px;
}

.close-button {
  width: 110px;
  height: 44px;
  border-radius: 20px;
  border: 1px solid #8A2B06;
  color: #8A2B06;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  left: 400px;
}
.close-button:hover {
  background-color: #8A2B06;
  color: #fff;
}
.close-button:active {
  background-color: #993108;
}
.close-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  border: 1px solid #CAC6C4;
}
.order-button {
  width: 110px;
  height: 44px;
  border-radius: 20px;
  background-color: #8A2B06;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  left: 390px;
}
.order-button:hover {
  background-color: #7E2A0A;
}
.order-button:active {
  background-color: #993108;
}