
.custom-button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px; 
};



.custom-button:hover {
    opacity: 0.8; 
}

.custom-button:active {
    transform: scale(0.85); 
}

.custom-button {
    background-color: rgb(124, 29, 29); 
   
}

.custom-button:disabled{
    cursor: not-allowed;
}