.contained {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contained:hover {
  opacity: 0.8;
}

.contained:active {
  transform: scale(0.85);
}

.contained {
  background-color: rgb(124, 29, 29);
}

.contained:disabled {
  cursor: not-allowed;
  background-color: #cac6c4;
}

.outlined {
  color: #8a2b06;
  border-radius: 20px;
  border: 1px solid #8a2b06;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.outlined:hover {
  opacity: 0.8;
  background-color: #8a2b06;
  color: #ffffff;
}

.outlined:active {
  transform: scale(0.85);
  background-color: #993108;
  color: #ffffff;
}

.outlined:disabled {
  cursor: not-allowed;
  border: 1px solid #cac6c4;
  color: #cac6c4;
}
